rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth.token.email.split("@")[1] == "sycamoreschools.org";
    }
    match /{document=**} {
      allow write: if isAuth();
    }
  }
}

