rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuth() {
      return request.auth.token.email.split("@")[1] == "sycamoreschools.org";
    }
    function isAdmin() {
      let email = request.auth.token.email.split("@");
      return (email[1] == "sycamoreschools.org" && math.isNaN(email[0])) || request.auth.token.email == "advaitjayadevannair@gmail.com";
    }
    match /{allPaths=**} {
      allow create: if isAuth();
      allow get: if isAdmin();
    }
  }
}
